{% extends "bootstrap/base.html"  %}
{% import "bootstrap/wtf.html" as wtf  %}

{% block title  %}首页{% endblock  %}

{% block navbar %}
  <nav role="navigation" class="navbar navbar-inverse dark-nav">
    <div class="navbar-header">
      <button data-target="#bs-example-navbar-collapse-3" data-toggle="collapse" class="navbar-toggle" type="button">
	<span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>
     <a href="#" class="navbar-brand">Brand Name</a>
   </div>
   <div id="bs-example-navbar-collapse-3" class="collapse navbar-collapse">
       <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
	  <li><a href="#">About</a></li>
	  <li class="dropdown">
	     <a data-toggle="dropdown" class="dropdown-toggle" href="#">More <b class="caret"></b></a>
	       	<ul role="menu" class="dropdown-menu">
	            <li><a href="#">个人中心</a></li>
		    <li><a href="#">修改头像</a></li>
		    <li class="divider"></li>
		    <li><a href="#">Separated link</a></li>
		</ul>
	  </li>
	</ul>
       <ul class="navbar-form navbar-right">
	 {% if current_user.is_authenticated  %}
	 <li><a href="#">{{ current_user.username  }}</a> </li>
	 <li><a href="{{ url_for('auth.logout')  }}">退出</a></li>
	 {% else  %}
	 <li><a href="{{ url_for('auth.login')  }}">登录</a></li>
	 <li><a href="{{ url_for('auth.register')  }}">注册</a></li>
	 {% endif  %}
       </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="container">
  	<div class="page-header">
  		<h1>Edit your profile</h1>
  	</div>
        <div class="row"> 
	  <p>姓名: {{ current_user.username  }}</p>
	  <p>地址: {{ current_user.location }}</p>
        </div> 
  </div>
{% endblock %}

